<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225657986823-prt0lvop4adnkeqeifsh30ni7laonh8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225657986823-prt0lvop4adnkeqeifsh30ni7laonh8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAD-0lZCIJ2sS2QOvrpKUczapNwkZ6syS0</string>
	<key>GCM_SENDER_ID</key>
	<string>225657986823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kolesa</string>
	<key>PROJECT_ID</key>
	<string>kolesa-app-f2421</string>
	<key>STORAGE_BUCKET</key>
	<string>kolesa-app-f2421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225657986823:ios:1a5bfc27052cce0e06afa2</string>
</dict>
</plist>